

body{
    background-color: #212121 !important;
    overflow-x: hidden !important;
}

.container{
    margin-top: 30px;
    max-width: 500px !important;
    width: 80% !important;
    background-color: #212121;
    color: #fff;
    padding:10px 30px;
    border-radius: 10px;
}

.button{
    width: 200px;
    margin: 20px 50% 0;
    transform: translateX(-50%);
}